@use '../../../assets/css/common.scss' as c;

.info-card {
  max-width: 236px;
  width: 100%;
  display: flex;

  .icon {
    color: c.$yellow-one;
    margin-right: 20px;
  }

  h5 {
    color: c.$yellow-one;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
    @include c.media(tablet) {
      font-size: 13px;
    }
  }

  p {
    color: c.$light-one;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    @include c.media(tablet) {
      font-size: 15px;
    }
  }
}
