@use '../../../assets/css/common.scss' as c;

.info-card {
  max-width: 236px;
  width: 100%;
  display: flex;

  &--blue {
    max-width: 382px;
    background-color: c.$blue-three;
    padding: 25px;
    border-radius: 8px;

    @include c.media(tablet-wide) {
      max-width: 100% !important;
      padding: 20px;
    }
  }

  .icon {
    color: c.$yellow-one;
    margin-right: 20px;
  }

  h5 {
    color: c.$yellow-one;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
    @include c.media(tablet) {
      font-size: 13px;
    }
  }

  p {
    color: c.$light-one;
    font-size: clamp(13px, calc(0.8125rem + ((1vw - 4.2px) * 0.625)), 18px);
    line-height: 28px;
    font-weight: 700;
  }
}
