@use '../../assets/css/common.scss' as c;

.ant-input {
  border-radius: 8px;
  padding: 19px 16px 5px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: c.$light-two;
  background-color: c.$light-six;
  border: none;
  outline: transparent;

  &.text-area {
    resize: none;
    height: 270px;
  }
}
