@use '../../assets/css/common.scss' as c;

.ant-input {
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  color: c.$light-one;
  background-color: c.$light-six;
  border: 1px solid c.$pink-three;
  background: transparent;
  outline: transparent;

  &:hover {
    border-color: c.$purple-one;
  }

  &.text-area {
    resize: none;
    height: 270px;
  }
}
