@use '../../assets/css/common.scss' as c;

.ant-btn {
  $self: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: c.$blue-two;
  color: c.$light-one;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  padding: 10px 20px;
  height: 41px;

  &--left-icon {
    > span {
      margin-left: 8px;
    }
  }

  &--right-icon {
    > span {
      margin-right: 8px;
    }
  }
}
