$color: #000119;
$color: #0089f7;
$color: #008af7;
$color: #65666c;
$color: #67ffd1;
$color: #0b0f2f;
$color: #80b541;
$color: #9c78ca;
$color: #a6a6a6;
$color: #aeb0f3;
$color: #02061a;
$color: #dedede;
$color: #eceeee;
$color: #f3f5f2;
$color: #191919;
$color: #ffffff;
$color: #030820;
$color: #222222;
$color: #06070c;
$color: #5c56d4;
$color: #000000;
