@use '../../assets/css/common.scss' as c;

.section-contact {
  &__details {
    &__left {
      > h3 {
        color: c.$light-one;
        font-size: clamp(18px, 1.125rem + (1vw - 4.2px) * 1.5, 30px);
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
  }
}
