@use '../../../assets/css/common.scss' as c;

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 25px;

  > figure {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    border: 5px solid c.$light-four;
    overflow: hidden;
    margin-bottom: 15px;

    > img {
      display: block;
      width: 100%;
    }
  }
  > h4 {
    color: c.$light-one;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 4.2px) * 1.25)), 24px);
    line-height: clamp(20px, calc(1.25rem + ((1vw - 4.2px) * 1.75)), 34px);
    font-weight: 700;
    margin-bottom: 15px;
  }

  > h5,
  p {
    margin: 0 0 15px 0;
    font-size: clamp(13px, calc(0.8125rem + ((1vw - 4.2px) * 0.25)), 15px);
    color: c.$purple-three;
    font-weight: normal;
  }

  &__socials {
    > a {
      margin: 0 5px;
      padding: 10px !important;
      border-radius: 50%;
    }
  }
}
