@use '../../assets/css/common.scss' as c;

.section-pay {
  @include c.imageCacheBusts(
    '/images/Home/home_pay_sectionbg1.png',
    '/images/Home/home_pay_sectionbg2.png'
  );
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 160px;

  .container {
    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      > h2 {
        margin-bottom: 15px;
        text-align: center;
      }

      > p {
        margin-bottom: 15px;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include c.media(tablet-wide) {
          flex-direction: column;
          margin-bottom: 20px;
        }

        > .ant-btn {
          font-weight: 400;
        }

        > .ant-btn:first-child {
          margin-right: 10px;
          margin-bottom: 15px;

          @include c.media(tablet-wide) {
            margin-right: 0;
          }
        }
      }
    }

    > figure {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.section-testimonials {
  $self: &;
  @include c.imageCacheBust('/images/Home/home_pay_sectionbg3.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;

  @include c.media(tablet) {
    padding: 20px 0;
  }

  .container {
    #{ $self }__top {
      display: flex;
      align-items: center;
      margin-bottom: 100px;
      @include c.media(tablet-wide) {
        flex-direction: column;
      }
      @include c.media(tablet) {
        margin-bottom: 50px;
      }

      .cta-card {
        width: 35%;
        @include c.media(tablet-wide) {
          width: 80%;
          margin-bottom: 40px;
        }
      }
      .box {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @include c.media(tablet-wide) {
          justify-content: flex-start;
          width: 80%;
        }

        > div {
          margin-bottom: 40px;

          @include c.media(tablet) {
            margin-bottom: 20px;
          }
        }
      }
    }

    #{ $self }__bottom {
      h2 {
        text-align: center;
        color: c.$light-one;
        margin-bottom: 60px;
        font-size: clamp(23px, calc(1.4375rem + ((1vw - 4.2px) * 0.875)), 30px);

        @include c.media(tablet) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
