@use '../../assets/css/common.scss' as c;

.header {
  $self: &;
  background-color: c.$dark-one;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    #{ $self }__logo {
      max-width: 182px;
    }

    .icon-menu-close,
    .icon-menu-open {
      color: c.$light-one;
      display: none;
      cursor: pointer;
      @include c.media(tablet-wide) {
        display: block;
      }
    }

    .icon-menu-close {
      color: c.$light-four;
      margin-bottom: 20px;
      align-self: end;
    }

    nav {
      display: flex;
      align-items: center;

      &.visible {
        right: 0;
        transition: all 0.4s ease-in-out;
      }

      @include c.media(tablet-wide) {
        flex-direction: column;
        position: fixed;
        right: -2000px;
        top: 0;
        bottom: 0;
        max-width: 250px;
        width: 100%;
        padding: 16px;
        background-color: c.$brown-one;
      }

      ul {
        display: flex;

        @include c.media(tablet-wide) {
          flex-direction: column;
          order: 2;
          width: 100%;
        }

        li {
          a {
            display: inline-block;
            width: 100%;
            padding: 15px 20px;
            color: c.$light-one;
            font-size: 14px;
            font-weight: 600;
            position: relative;

            @include c.media(tablet-wide) {
              color: c.$light-five;

              &.active,
              &:hover {
                color: c.$light-one;
              }
            }
          }

          a::after {
            content: '';
            display: block;
            width: 80%;
            height: 2px;
            background-color: c.$yellow-one;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: ease-in-out;
          }

          a.active::after {
            opacity: 1;

            @include c.media(tablet-wide) {
              opacity: 0;
            }
          }

          @include c.media(tablet-wide) {
            border-bottom: 1px solid rgba($color: c.$light-six, $alpha: 0.3);
          }
        }
      }

      .bg-overlay {
        position: fixed;
        right: -2000px;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &.visible .bg-overlay {
        opacity: 1;
        right: 0;
      }

      #{$self}__action {
        margin-left: 50px;
        @include c.media(tablet-wide) {
          margin-left: 0;
          order: 1;
          width: 100%;
          margin-bottom: 22px;
        }
      }
    }
  }
}
