@use '../../assets/css/common.scss' as c;

.footer {
  $self: &;
  background-color: c.$dark-four;
  padding: 30px 0;

  @include c.media(tablet-wide) {
    padding-top: 50px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: c.$light-one;

    @include c.media(tablet-wide) {
      flex-direction: column;
    }

    #{$self}__copyright {
      display: flex;
      font-size: 15px;

      @include c.media(tablet-wide) {
        font-size: 13px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
      }

      > span {
        margin: 0 10px;
        display: inline-block;

        &::before {
          content: '';
          width: 2px;
          height: 100%;
          background-color: c.$light-one;
        }
      }

      > div {
        a {
          color: c.$light-one;
          margin-left: 5px;

          &:hover {
            color: c.$yellow-one;
            text-decoration: underline;
          }
        }
      }
    }

    #{$self}__menu {
      display: flex;
      align-items: center;
      @include c.media(tablet-wide) {
        flex-direction: column;
      }
      ul {
        display: flex;
        @include c.media(tablet-wide) {
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 10px;
        }

        li {
          a {
            font-size: 15px;
            color: c.$light-one;
            margin-left: 5px;
            padding: 10px;

            &:hover {
              color: c.$yellow-one;
              text-decoration: underline;
            }

            @include c.media(tablet-wide) {
              font-size: 13px;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid rgba(c.$light-one, $alpha: 0.3);
          }
        }
      }

      &__scroll-icon {
        color: c.$light-six;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: c.$light-four;
        }
      }
    }
  }
}
