@use '../../assets/css/common.scss' as c;

.social-banner {
  &__content {
    padding: 0 15px 40px 15px;
    text-align: center;
    > h3 {
      margin-bottom: 15px;
    }

    > p {
      color: c.$purple-three;
      margin-bottom: 40px;
    }

    > div {
      .ant-btn:first-child {
        margin-right: 10px;
      }
    }
  }
}
